<% provide(:title, 'Edit Employee Note') %>
<div class="row">
  
  <div class="col-xs-12">
    
    <div class="well well-sm"><strong>Employee Notes &ndash; Edit Employee Note</strong></div>
    
  </div>
  
  <div class="col-xs-12"><%= render 'form' %></div>
  
</div>