<div class="row">
  
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Apps</h3>
      </div>
      <div class="list-group">
        <%= link_to 'Employee Notes', employee_notes_path, class: 'list-group-item' %>
      </div>
    </div>
  </div>
  
</div>